################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/FF5e_Text_Editor
/FF5e_Text_Editor/obj/x86
/FF5e_Text_Editor/bin
