<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- <add key="EnableRPGeFixes" value="true" /> --> <!-- Set to true with RPGe versions of the game -->
    <!-- <add key="SpeechPtrs" value="true" /> -->      <!-- Set to false to read offsets instead -->

    <!-- <add key="Speech_OffAdd" value="0x2013F0" /> --> <!-- Location of the offsets (or pointers) to each record -->
    <!-- <add key="Speech_Add" value="0x210000" /> --> <!-- Location of the records -->
    <!-- <add key="Speech_IniOff" value="0x000000" /> --> <!-- First offset to the table -->
    <!-- <add key="Speech_NRec" value="2160" /> -->     <!-- Number of records -->
    <!-- <add key="Speech_AvailB" value="0x050000" /> --> <!-- Total space available to allocate records -->

    <!-- <add key="Font1BPP_Add0" value="0x03EB00" /> -->
    <!-- <add key="Font1BPP_Add1" value="0x203724" /> --> <!-- Poem font -->
    <!-- <add key="Font1BPP_Size" value="0x12C0" /> -->
    <!-- <add key="Font1BPP_Siz1" value="0x1380" /> -->   <!-- Poem font -->

    <!-- <add key="Font2BPP_Addr" value="0x11F000" /> -->
    <!-- <add key="Font2BPP_Size" value="0x1000" /> -->

    <!-- <add key="FontDama_Addr" value="0x149E20" /> -->
    <!-- <add key="FontDama_Size" value="0x0180" /> -->

    <!-- <add key="FontOther_Addr" value="0x00D380" /> -->
    <!-- <add key="FontOther_Size" value="0x0600" /> -->

    <!-- <add key="F1BPPWid_Add0" value="0x203225" /> -->
    <!-- <add key="F1BPPWid_Add1" value="0x203325" /> -->

    <!-- <add key="Misc_DefenseAdd" value="0x203103" /> -->
    <!-- <add key="Misc_DefenseSize" value="10" /> -->
    <!-- <add key="Misc_DefAdd" value="0x20310E" /> -->
    <!-- <add key="Misc_DefSize" value="4" /> -->
    <!-- <add key="Misc_EqpAdd" value="0x203113" /> -->
    <!-- <add key="Misc_EqpSize" value="4" /> -->
    <!-- <add key="Misc_EmptyAdd" value="0x203118" /> -->
    <!-- <add key="Misc_EmptySize" value="5" /> -->
    <!-- <add key="Misc_MasterAdd" value="0x00EA6C" /> -->
    <!-- <add key="Misc_MasterSize" value="7" /> -->
    <!-- <add key="Misc_AnyAdd" value="0x00F7A8" /> -->
    <!-- <add key="Misc_AnySize" value="4" /> -->
    <!-- <add key="Misc_PauseAdd" value="0x0115C4" /> -->
    <!-- <add key="Misc_PauseSize" value="5" /> -->
    <!-- <add key="Misc_LvAdd" value="0x00EA74" /> -->
    <!-- <add key="Misc_LvSize" value="2" /> -->
    <!-- <add key="Misc_LAdd" value="0x00EAF7" /> -->
    <!-- <add key="Misc_LSize" value="1" /> -->
    <!-- <add key="Misc_UsesMPAdd" value="0x0EFFBC" /> -->
    <!-- <add key="Misc_UsesMPSize" value="6" /> -->
    <!-- <add key="Misc_HPAdd" value="0x10E181" /> -->
    <!-- <add key="Misc_HPSize" value="2" /> -->
    <!-- <add key="Misc_MPAdd" value="0x10E189" /> -->
    <!-- <add key="Misc_MPSize" value="2" /> -->
    <!-- <add key="Misc_EXPAdd" value="0x10E191" /> -->
    <!-- <add key="Misc_EXPSize" value="3" /> -->
    <!-- <add key="Misc_SellAdd" value="0x00FAA0" /> -->
    <!-- <add key="Misc_SellSize" value="3" /> -->

    <!-- <add key="Monster_Add" value="0x200050" /> -->
    <!-- <add key="Monster_NRec" value="384" /> -->
    <!-- <add key="Monster_RSiz" value="10" /> -->

    <!-- <add key="MonAttakcs_Add" value="0x273700" /> -->
    <!-- <add key="MonAttakcs_NRec" value="64" /> -->
    <!-- <add key="MonAttakcs_RSiz" value="16" /> -->

    <!-- <add key="SkillsM01_Add" value="0x111C80" /> -->
    <!-- <add key="SkillsM01_RSiz" value="6" /> -->
    <!-- <add key="SkillsM01_NRec" value="87" /> -->
    <!-- <add key="SkillsM02_Add" value="0x270F90" /> -->
    <!-- <add key="SkillsM02_RSiz" value="12" /> -->
    <!-- <add key="SkillsM02_NRec" value="169" /> -->
    <!-- <add key="SkillsMBl_Add" value="0x11200D" /> -->
    <!-- <add key="SkillsMBl_RSiz" value="9" /> -->
    <!-- <add key="SkillsMBl_NRec" value="30" /> -->
    <!-- <add key="SkillsMSo_Add" value="0x111E8A" /> -->
    <!-- <add key="SkillsMSo_RSiz" value="9" /> -->
    <!-- <add key="SkillsMSo_NRec" value="8" /> -->

    <!-- <add key="SkillsB01_Add" value="0x270900" /> -->
    <!-- <add key="SkillsB01_RSiz" value="16" /> -->
    <!-- <add key="SkillsB01_NRec" value="105" /> -->
    <!-- <add key="SkillsB02_Add" value="0x271780" /> -->
    <!-- <add key="SkillsB02_RSiz" value="24" /> -->
    <!-- <add key="SkillsB02_NRec" value="169" /> -->

    <!-- <add key="Commands_Add" value="0x201150" /> -->
    <!-- <add key="Commands_NRec" value="95" /> -->
    <!-- <add key="Commands_RSiz" value="7" /> -->
    <!-- <add key="AbilitiesM_Add" value="0x116200" /> -->
    <!-- <add key="AbilitiesM_NRec" value="33" /> -->
    <!-- <add key="AbilitiesM_RSiz" value="8" /> -->
    <!-- <add key="AbilitiesB_Add" value="0x277060" /> -->
    <!-- <add key="AbilitiesB_NRec" value="33" /> -->
    <!-- <add key="AbilitiesB_RSiz" value="24" /> -->

    <!-- <add key="ItemsM_Add" value="0x111380" /> -->
    <!-- <add key="ItemsM_NRec" value="256" /> -->
    <!-- <add key="ItemsM_RSiz" value="9" /> -->
    <!-- <add key="ItemsR_Add" value="0x273568" /> -->
    <!-- <add key="ItemsR_NRec" value="24" /> -->
    <!-- <add key="ItemsR_RSiz" value="13" /> -->
    <!-- <add key="ItemsB_Add" value="0x275860" /> -->
    <!-- <add key="ItemsB_NRec" value="256" /> -->
    <!-- <add key="ItemsB_RSiz" value="24" /> -->

    <!-- <add key="Characters_Add" value="0x115500" /> -->
    <!-- <add key="Characters_NRec" value="5" /> -->
    <!-- <add key="Characters_RSiz" value="6" /> -->
    <!-- <add key="Jobs_Add" value="0x115600" /> -->
    <!-- <add key="Jobs_NRec" value="22" /> -->
    <!-- <add key="Jobs_RSiz" value="8" /> -->

    <!-- <add key="ConceptsBatR_Add" value="0x275800" /> -->
    <!-- <add key="ConceptsBatR_NRec" value="5" /> -->
    <!-- <add key="ConceptsBatR_RSiz" value="17" /> -->
    <!-- <add key="ConceptsShop_Add" value="0x112D00" /> -->
    <!-- <add key="ConceptsShop_NRec" value="8" /> -->
    <!-- <add key="ConceptsShop_RSiz" value="8" /> -->
    <!-- <add key="ConceptsSMisc_Add" value="0x1128B6" /> -->
    <!-- <add key="ConceptsMisc_NRec" value="24" /> -->
    <!-- <add key="ConceptsMisc_RSiz" value="8" /> -->

    <!-- <add key="PoemOfLight_Add" value="0x2773A0" /> -->
    <!-- <add key="PoemOfLight_AvailB" value="1416" /> -->     <!-- Total space available to allocate records -->

    <!-- <add key="BatSpeech_OffAdd" value="0x10F000" /> -->
    <!-- <add key="BatSpeech_Add" value="0x270000" /> -->
    <!-- <add key="BatSpeech_IniOff" value="0x003B00" /> --> <!-- First offset to the table -->
    <!-- <add key="BatSpeech_NRec" value="234" /> -->
    <!-- <add key="BatSpeech_AvailB" value="5632" /> -->

    <!-- <add key="BatMessages_OffAdd" value="0x1139A9" /> -->
    <!-- <add key="BatMessages_Add" value="0x270000" /> -->
    <!-- <add key="BatMessages_IniOff" value="0x002760" /> --> <!-- First offset to the table -->
    <!-- <add key="BatMessages_NRec" value="81" /> -->
    <!-- <add key="BatMessages_AvailB" value="1646" /> -->

    <!-- <add key="ItemDesc_OffAdd" value="0x114000" /> -->
    <!-- <add key="ItemDesc_Add" value="0x110000" /> -->
    <!-- <add key="ItemDesc_IniOff" value="0x004100" /> --> <!-- First offset to the table -->
    <!-- <add key="ItemDes2_OffAdd" value="0x275100" /> --> <!-- If this is 0, ignore import -->
    <!-- <add key="ItemDes2_Add" value="0x270000" /> -->
    <!-- <add key="ItemDes2_IniOff" value="0x005200" /> --> <!-- First offset to the table -->
    <!-- <add key="ItemDesc_NRec" value="128" /> -->
    <!-- <add key="ItemDesc_AvailB" value="1470" /> -->

    <!-- <add key="JobDesc_OffAdd" value="0x117140" /> -->
    <!-- <add key="JobDesc_Add" value="0x110000" /> -->
    <!-- <add key="JobDesc_IniOff" value="0x00724A" /> --> <!-- First offset to the table -->
    <!-- <add key="JobDesc_NRec" value="133" /> -->
    <!-- <add key="JobDesc_AvailB" value="3414" /> -->

    <!-- <add key="Locations_OffAdd" value="0x107000" /> -->
    <!-- <add key="Locations_Add" value="0x270000" /> -->
    <!-- <add key="Locations_IniOff" value="0x000000" /> --> <!-- First offset to the table -->
    <!-- <add key="Locations_NRec" value="164" /> -->
    <!-- <add key="Locations_AvailB" value="2304" /> -->

    <!-- <add key="ConceptsV_OffAdd" value="0x00F987" /> -->
    <!-- <add key="ConceptsV_Add" value="0x270000" /> -->
    <!-- <add key="ConceptsV_IniOff" value="0x002F00" /> --> <!-- First offset to the table -->
    <!-- <add key="ConceptsV_NRec" value="139" /> -->
    <!-- <add key="ConceptsV_AvailB" value="1632" /> -->

    <!-- <add key="Credits_Add" value="0x037B92" /> -->
    <!-- <add key="Credits_AvailB" value="0x2B7" /> -->

    <!-- <add key="Staff_Add" value="0x03362B" /> -->
    <!-- <add key="Staff_AvailB" value="0x20F" /> -->

    <!-- <add key="StaffFont_Add" value="0x0333F6" /> -->
    <!-- <add key="StaffFont_AvailB" value="0x0235" /> -->

    <!-- <add key="Dragon4bpp_Add" value="0x032D22" /> -->
    <!-- <add key="Dragon4bpp_SizeB" value="0x001200" /> -->
    <!-- <add key="Dragon4bpp_AvailB" value="0x05FD" /> -->

    <!-- <add key="TheEnd4bpp_Add" value="0x10E4CB" /> -->
    <!-- <add key="TheEnd4bpp_SizeB" value="0x001000" /> -->
    <!-- <add key="TheEnd4bpp_AvailB" value="0x071A" /> -->
  </appSettings>
</configuration>